<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Demo config client for Config Server using Spring Config Client</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
</head>
<body>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<h1>Demo Config Client for Config Server using Spring Config Client</h1>
		<p th:text="'Current exchange rate is: ' + ${rateAmount}"></p>
		<p th:text="'Working days: ' + ${workingDays}"></p>
		<p th:text="'Working hours: ' + ${workingHours}"></p>
		<b><p>Visit us in working hours.</p></b>
	</div>
	<div class="col-md-2"></div>
	<d>
</div>
</body>
</html>